[submodule "deeting-relay"]
	path = deeting-relay
	url = https://github.com/MarshallEriksen-Neura/deeting_relay.git
[submodule "packages/official-skills/weather-plugin"]
	path = packages/official-skills/weather-plugin
	url = https://github.com/MarshallEriksen-Neura/weather_plugin.git
	branch = main
[submodule "packages/deeting_chrome"]
	path = packages/deeting_chrome
	url = https://github.com/MarshallEriksen-Neura/deeting_chrome.git
	branch = main
