[submodule "deeting-relay"]
	path = deeting-relay
	url = https://github.com/MarshallEriksen-Neura/deeting_relay.git
[submodule "scout"]
	path = scout
	url = https://github.com/MarshallEriksen-Neura/scout.git
[submodule "backend"]
	path = backend
	url = https://github.com/MarshallEriksen-Neura/deeting_core.git
	branch = main
